<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
</head>
<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#"><%= title %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% nav.forEach(function(nv){ %>
      <li class="nav-item active">
        <a class="nav-link" href="#" onclick="loadpage('<%=nv.link %>');"><%=nv.title %> <span
            class="sr-only"></span></a>
      </li>
      <% }); %>
    </ul>
  </div>
</nav>

<!-- Body -->

<body class="text-center">
  <div class="container" id="mymain">Home Page</div>
</body>

</html>
<script src="/js/basket.full.min.js"></script>
<script src="/js/helper.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/themes/material-blue/easyui.css">
<link rel="stylesheet" type="text/css" href="/css/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/css/themes/color.css">

<script>
  basket
    .require(
      { url: '/js/jquery-3.5.1.min.js' },
      { url: '/js/jquery.easyui.min.js' }
    )
    .then(function () {
      // Success
      console.log('Loading Done!');
    }, function (error) {
      // There was an error fetching the script
      console.log(error);
    });
</script>